<div id="sidebar" class="sidebar">
    <div class="pageName" onclick="content(1)">
        <img class="pageLogo d-none" src="./svg/mage--camera-2.svg" alt="Page Logo">
        <p>Mergram</p>
    </div>
    <div class="startPage" onclick="content(1)">
        <img src="./svg/teenyicons--home-solid.svg" alt="Start Button">
        <p>Start</p>
    </div>
    <div class="search">
        <img src="./svg/fontisto--search.svg" alt="Search Button">
        <p>Search</p>
    </div>
    <div class="profil" onclick="profilePage()">
        <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Button">
        <p>Profile</p>
    </div>

    <div class="burgermenu" onclick="hamburgerWasClicked()">
        <input class="checkbox" type="checkbox" id="menu-toggle">
        <div class="menu-bar-container">
            <div class="menu-bar"></div>
        </div>
        <p>More</p>
    </div>
</div>