<div id="followerSidePosition" class="follower">
    <div id="profiles" class="profiles">
        <div class="user">
            <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Image">
            <p>Max Musterman</p>
        </div>
        <div class="user">
            <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Image">
            <p>John Doe</p>
        </div>
        <div class="user">
            <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Image">
            <p>Pipi Langstrumpf</p>
        </div>
    </div>
</div>