<section>
    <div class="headercontainer">
        <div class="foryouButton" onclick="forYouButtonWasClicked()">
            Für dich
        </div>
        <div class="followerButton" onclick="followerButtonWasClicked()">
            Gefolgt
        </div>
    </div>
    <div class="divider"></div>
    <div id="followerHeadPosition" class="follower d-none">
        <div id="profiles" class="profiles">
            <div class="user">
                <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Image">
                <p>Max Musterman</p>
            </div>
            <div class="user">
                <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Image">
                <p>John Doe</p>
            </div>
            <div class="user">
                <img src="./svg/healthicons--ui-user-profile.svg" alt="Profil Image">
                <p>Pipi Langstrumpf</p>
            </div>
        </div>
    </div>
</section>