.head {
    background-color: white;
    z-index: 998;
    min-height: 93px;
    width: 100%;
    grid-area: header;
}


.headercontainer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 93px;
    box-shadow: inset 0 -1px 0 0 #dadce0;
    margin: 0 64px 0 64px;
    /*box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.3);*/
}


.foryouButton {
    margin: 64px 0 0 0;
    font-weight: bold;
}


.foryouButton:hover {
    cursor: pointer;
}


.followerButton {
    margin: 64px 0 0 8px;
    font-weight: bold;
    color: rgba(0,0,0, .3);
}


.followerButton:hover {
    cursor: pointer;
}


@media(max-width: 1160px) {

}